<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>500</title>
  <meta name="viewport" content="width=device-width">
  <link href="/static/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="page page_404">
    <header class="header">
      
    </header>
    <section class="container">
      <div class="page404">
        <img src="/static/images/500.png">
        <span class="text">
          Oops! <br>Something went wrong. <br>We are investigating in reasons.
        </span>
        <div class="return">
          return to <a href="/">main page</a>
        </div>
      </div>
    </section><!-- class="container" -->
    <footer class="footer">
      Created by Alexander Aslanov, Dima Kukushkin, and Timofey Kukushkin for Django Dash 2013
    </footer><!-- class="footer" -->
  </div><!-- class="page" -->
</body>
</html>
