<!doctype html>{% load gears %}
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>{% block html_title %}SinglepointHQ &mdash; OpenID as a service{% endblock %}</title>
  <meta name="viewport" content="width=device-width">
  <link href="{{ STATIC_URL }}images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png">
  <meta name="keywords" content="keywords">
  <meta name="description" content="description">
  {% css_asset_tag "css/style.css" %}
</head>
<body>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
  (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
          try {
              w.yaCounter22647949 = new Ya.Metrika({id:22647949,
                      clickmap:true,
                      trackLinks:true,
                      accurateTrackBounce:true});
          } catch(e) { }
      });

      var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript><div><img src="//mc.yandex.ru/watch/22647949" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
  <div class="page{% block page_class %}{% endblock %}">
  {% block page %}
    <header class="header">
      <a href="/" class="logo"><img src="{{ STATIC_URL }}images/logo.png" alt=""></a>
      <nav class="nav">
        {% if user.is_authenticated %}
          <a href="{% url 'accounts_user_detail' %}" class="link">Profile</a>
          {% if user.is_owner %}<a href="{% url 'organizations_organization_detail' %}" class="link">Organization</a>{% endif %}
          <a href="{% url 'logout' %}" class="link">Log out</a>
        {% endif %}
        <a href="mailto:info@singlepointhq.com" class="btn">Contact us</a>
        <a href="/wtf/" class="btn">What is it?</a>
      </nav>
    </header>
    {% block steps %}
    {% endblock %}
    <section class="container">
      {% block content %}
      {% endblock %}
    </section><!-- class="container" -->
    <footer class="footer">
      Created by Alexander Aslanov, Dima Kukushkin, and Timofey Kukushkin for Django Dash 2013
    </footer><!-- class="footer" -->
  {% endblock %}
  </div><!-- class="page" -->

  <div class="loader" id="js-loader">
    <span class="txt">
      Loading... Please wait
    </span>
  </div>

   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-1.9.1.min.js"><\/script>')</script>
  {% js_asset_tag "js/script.js" %}
</body>
</html>
