<!doctype html>{% load gears %}
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>{% block html_title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width">
  <link href="{{ STATIC_URL }}images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png">
  <meta name="keywords" content="keywords">
  <meta name="description" content="description">
  {% css_asset_tag "css/style.css" %}
</head>
<body>
  <div class="page">
  {% block page %}
    <header class="header">
      <a href="/" class="logo"><img src="{{ STATIC_URL }}images/logo.png" alt=""></a>
      <nav class="nav">
        <a href="#?" class="btn">How to</a>
      </nav>
    </header>
    {% block steps %}
    {% endblock %}
    <section class="container">
      {% block content %}
      {% endblock %}
    </section><!-- class="container" -->
    <footer class="footer">
      Created by Alexander Aslanov, Dima Kukushkin, and Timofey Kukushkin for Django Dash 2013
    </footer><!-- class="footer" -->
  {% endblock %}
  </div><!-- class="page" -->

   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-1.9.1.min.js"><\/script>')</script>
  {% js_asset_tag "js/script.js" %}
</body>
</html>
