{% extends 'base.html' %}{% load organizations %}

{% block steps %}
  <div class="steps">
    <div class="steps__constrain">
      <div class="welcome-text">
        OpenID as a service <br>
        Single login point for all your infrastructure services
      </div>
      <div class="item item_first">
        <span class="title">
          step <span class="num">1</span>
        </span>
        <span class="text">
          Register your company
        </span>
      </div>
      <div class="item">
        <span class="title">
          step <span class="num">2</span>
        </span>
        <span class="text">
          Invite your team members
        </span>
      </div>
      <div class="item item_last">
        <span class="title">
          step <span class="num">3</span>
        </span>
        <span class="text">
          Setup your services <br>for single openid usage
        </span>
      </div>
    </div>
  </div>
{% endblock %}


{% block content %}
<div class="freg freg_index small-field" id="js-registration">
  {% registration_form %}
</div>
{% endblock %}
