{% extends "base.html" %}{% load widget_tweaks %}

{% block page %}
  <div class="frecovery frecovery_center small-field">
    <div class="frecovery__head">
      Recovery password
      <i class="icon"></i>
    </div>
    <div class="frecovery__form">
      <form action="." method="POST">
        {% csrf_token %}
        <div class="field{% if form.email.errors %} error{% endif %}">
          {% render_field form.email placeholder='Email' %}
          {{ form.email.errors }}
        </div>
        {{ form.non_field_errors }}
        <div class="field mb0">
          <input type="submit" value="Go" class="btn">
        </div>
      </form>
    </div>
  </div>
{% endblock %}
