{% extends "base.html" %}

{% load widget_tweaks thumbnail %}

{% block page %}
{% if organization.logo %}
  <img src="{% thumbnail organization.logo 250x250 crop %}">
{% endif %}
<div class="flogin flogin_center">
  <div class="flogin__head">
    Log in
    <i class="icon"></i>
  </div>
  <div class="flogin__form flogin__form_type">
    <form action="" method="POST">
      {% csrf_token %}
      <div class="field{% if form.username.errors or form.non_field_errors %} error{% endif %}">
        {% render_field form.username placeholder='Email' %}
      </div>
      <div class="field{% if form.password.errors or form.non_field_errors %} error{% endif %}">
        {% render_field form.password placeholder='Password' %}
      </div>
      {{ form.non_field_errors }}
      <a href="{% url 'password_reset' %}" class="recovery">Recover password</a>
      <div class="button field">
        <input type="submit" value="Go" class="btn">
      </div>
      <span class="clear"></span>
    </form>
  </div>
</div>
{% endblock %}
