{% extends 'base.html' %}


{% block content %}
<!-- Email: {{ user.email }}<br>
Login: {{ user.login }}<br> -->

  <section class="profile">
    <aside class="profile__aside">
      <div class="profile__avatar">
        <span class="img">
          
        </span>
        <div class="btn" data-tooltip="Upload avatar">
          <i class="sprite-edit"></i>
          <input type="file">
        </div>
      </div>
    </aside>

    <div class="profile__info">
      <section class="profile__name" id="js-edit-name">
        <form action="#?">
          <div class="field">
            <input type="text" value="Full Name" placeholder="Full name">
          </div>
          <div class="button">
            <input type="submit" value="Send" class="btn">
          </div>
        </form>
      </section>
      
      <ul class="profile__list">
        <li class="item">
          OpenID identity: http://trilan.singlepointhq.com/openid/xdrs/
        </li>
        <li class="item">
          Login: Trolev
        </li>
        <li class="item">
          Email: trolev@gmail.com
        </li>
        <li class="item">
          Organization: Company Name
        </li>
      </ul>

      <div class="profile__password" id="change-password">
        <a class="btn open">Change password</a>
        <div class="fpassword small-field hide">
          <form action="">
            <span class="title">Change password</span>
            <div class="field">
              <input type="text" placeholder="Old password">
            </div>
            <span class="line"></span>
            <div class="field">
              <input type="text" placeholder="New password">
            </div>
            <div class="field">
              <input type="text" placeholder="New password 2">
            </div>
            <span class="line"></span>
            <div class="field field_button">
              <input type="submit" class="btn" value="Change">
            </div>
          </form>
        </div>
      </div>

      

    </div><!-- class="profile__info" -->
  </section>


{% endblock %}
