{% extends "base.html" %}{% load widget_tweaks %}

{% block page %}
  <div class="frecovery frecovery_center small-field">
    <div class="frecovery__head">
      New password
      <i class="icon"></i>
    </div>
    <div class="frecovery__form">
      <form action="." method="POST">
        {% csrf_token %}
        <div class="field{% if form.new_password1.errors %} error{% endif %}">
          {% render_field form.new_password1 placeholder='New password' %}
          {{ form.new_password1.errors }}
        </div>
        <div class="field{% if form.new_password2.errors %} error{% endif %}">
          {% render_field form.new_password2 placeholder='Confirm new password' %}
          {{ form.new_password2.errors }}
        </div>
        <div class="field mb0">
          <input type="submit" value="Go" class="btn">
        </div>
      </form>
    </div>
  </div>
{% endblock %}
