{% extends 'base.html' %}

{% load gravatar accounts widget_tweaks subdomainurls %}

{% block content %}
<section class="profile">
  <aside class="profile__aside">
    <div class="profile__avatar">
      <span class="img">
        <img src="{% gravatar_for_email user.email 274 %}">
      </span>
    </div>
  </aside>

  <div class="profile__info">
    <section class="profile__name" id="js-edit-name">
      {% user_edit_form %}
    </section>

    <ul class="profile__list">
      <li class="item">
        OpenID:
        {% for openid in user.openid_set.all %}
          {% if not forloop.first %}<br>{% endif %}
          {% url 'openid-provider-identity' id=openid.openid %}
        {% endfor %}
      </li>
      <li class="item">
        Login: {{ user.login }}
      </li>
      <li class="item">
        Email: {{ user.email }}
      </li>
      <li class="item">
        Organization: {{ user.organization.name }}
      </li>
    </ul>
    <div class="profile__password" id="change-password">
      <div class="successfully green">
        {% for message in messages %}
          {{ message }}<br>
        {% endfor %}
      </div>
      <a class="btn open{% if password_change_form.errors %} hide{% endif %}">Change password</a>
      <div class="fpassword small-field{% if not password_change_form.errors %} hide{% endif %}">
        <form action="." method="POST">
          {% csrf_token %}
          <span class="title">Change password</span>
          {% if password_change_form.old_password %}
          <div class="field">
            {% render_field password_change_form.old_password placeholder='Old password' %}
            {{ password_change_form.old_password.errors }}
          </div>
          <span class="line"></span>
          {% endif %}
          <div class="field">
            {% render_field password_change_form.new_password1 placeholder='New password' %}
            {{ password_change_form.password1.errors }}
          </div>
          <div class="field">
            {% render_field password_change_form.new_password2 placeholder='Confirm new password' %}
            {{ password_change_form.password2.errors }}
          </div>
          <span class="line"></span>
          <div class="field field_button">
            <input type="submit" class="btn" value="Change">
          </div>
        </form>
      </div>
    </div>
  </div><!-- class="profile__info" -->
</section>
{% endblock %}
