{% extends 'base.html' %}{% load organizations %}


{% block content %}
  <div class="normalize">
    <h3>Why?</h3>
    <p>Number of internal services used by the company increases every day?</p>
    <p>Then, maybe, one of the major problems encountered is authentication.</p>
    <p>First, for each service, the employee has a separate login and password.
      Change your password if need be - quite invoice procedure.<br>
      Second, there is no opportunity to influence the complexity of the password in
      the third-party services (i.e. qwerty).<br>
      Third, to reinvent the wheel for registration / authorization each time<br>
      you develop a new internal service - rather extensive routine operation.</p>
    <h3>Setup</h3>
    <p>Signup, invite your teammates and use OpenID authentication in your services!
    Setup organization identity,
    ie http://trilan.singlepointhq.com/<b>openid/xrds/</b> and that's is all!</p>
  </div>
{% endblock %}
