

input[type="text"],
input[type="password"] {
  border: 1px solid #c8c8c8;
  padding: 15px 15px 14px;
  color: #555;
  background: #fefefb;
  font-size: 13px;

  &:focus {
    border-color: #d5c40a;
    background: #fff;
  }
}

.small-field input[type="text"],
.small-field input[type="password"] {
  padding: 10px 10px 9px;
}

.success input {
  border-color: #1ada0b;
}

/*$btn*/
.btn {
  border: none;
  color: #fff;
  padding: 1px 15px 0;
  height: 34px;
  .gradient(#414141, #525252, #414141);


  &:hover {
    .gradient(#414141, #5b5b5b, #414141);
  }

  &:active {
    .gradient(#414141, #484848, #414141);
  }
}

a.btn {
  display: inline-block;
  line-height: 34px;
  text-decoration: none;
  cursor: pointer;
}

/*$errorlist*/
.errorlist {
  padding-top: 10px;
  color: #ee8a48;
}

.border-line {
  display: block;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 50px;
  clear: both;
}

/*$field*/
.field {
  position: relative;
  margin-bottom: 20px;

  .ok {
    position: absolute;
    left: 0;
    top: 0;
    margin: -8px 0 0 -8px;
  }

  label {
    display: block;
    margin-bottom: 6px;
  }

  input {
    width: 100%;
    .box-sizing(border-box);
  }
}

/*$form-login*/
.flogin {
  border: 1px solid #dfdfdf;
  width: 300px;
}

.flogin__head {
  position: relative;
  padding: 20px;
  .gradient(#414141, #525252, #414141);
  color: #fff;

  .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -9px;
    .sprite-user;
  }
}

.flogin__head_rec {

  .icon {
    .sprite-pot;
  }
}

.flogin__avatar {
  margin: 0 auto;
  padding-top: 20px;
  width: 160px;
  text-align: center;

  img {
    vertical-align: top;
  }
}

.flogin__form {
  padding: 20px;

  .errorlist {
    padding-top: 0;
    margin-bottom: 17px;
  }
  .recovery {
    position: relative;
    top: 10px;
    display: block;
    float: left;
  }

  .button {
    float: right;
    margin-bottom: 0;
    width: 100px;
  }

  .text {
    font-size: 15px;
    color: #666;
  }
}

.flogin_center {
  position: absolute;
  left: 50%;
  top: 13%;
  margin-left: -150px;
}


/*$form-login*/
.frecovery {
  border: 1px solid #dfdfdf;
  width: 300px;
}

.frecovery__head {
  position: relative;
  padding: 20px;
  .gradient(#414141, #525252, #414141);
  color: #fff;

  .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -9px;
    .sprite-pot;
  }
}

.frecovery__form {
  padding: 20px;

  .text {
    font-size: 15px;
    color: #666;
  }
}

.frecovery_center {
  position: absolute;
  left: 50%;
  top: 13%;
  margin-left: -150px;
}

/*$freg*/
.freg {
  margin: 0 auto;
  width: 375px;

  .errorlist {
    margin-bottom: 0;
    padding-top: 10px;
  }

  .title {
    display: block;
    margin-bottom: 32px;
    font-size: 25px;
    color: #bbb;
    text-align: center;
  }

  .field-login {
    float: left;
    width: 155px;
  }

  .field-domain {
    position: relative;
    float: right;
    width: 200px;

    input {
      padding-right: 120px;
    }
  }

  .domain {
    position: absolute;
    left: 79px;
    top: 8px;
    font-size: 13px;
    height: 20px;
    width: 120px;
    line-height: 20px;
    background: #fefefb;
    color: #8f8f8f;
  }

  .line {
    display: block;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 20px;
    clear: both;
  }

  .fields-column {
    width: 177px;
  }

  .success {
    color: #777777;
    display: block;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
}

.freg_index {
  padding-bottom: 20px;
}

/*$finvite*/
.finvite {
  float: left;
  width: 300px;

  .field-column {
    width: 140px;
  }

  .title {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    color: #bbb;
  }
}

/*$fpassword*/
.fpassword {
  width: 250px;

  .clear-style;

  .title {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    color: #d1d1d1;
  }

  .field {
    /*float: left;*/
    /*margin-right: 20px;*/
  }

  .line {
    display: block;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 20px;
    clear: both;
  }

  .field_button {
    margin-right: 0;
    width: auto;
  }
}