

input[type="text"],
input[type="password"] {
  border: 1px solid #dfdfdf;
  padding: 15px 15px 14px;
  color: #777;
  background: #fefefb;
  font-size: 13px;

  &:focus {
    border-color: #d5c40a;
    background: #fff;
  }
}

/*$field*/
.field {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 6px;
  }

  input {
    width: 100%;
    .box-sizing(border-box);
  }
}

/*$form-login*/
.flogin {
  border: 1px solid #dfdfdf;
  width: 300px;
}

.flogin__head {
  position: relative;
  padding: 20px;
  .gradient(#414141, #525252, #414141);
  color: #fff;

  .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -9px;
    .sprite-user;
  }
}

.flogin__form {
  padding: 20px 20px 0;

  .button  {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    margin: 0 -35px -35px 0;
  }
  input[type=submit] {
    border: none;
    .border-radius(50%);
    width: 100px;
    height: 100px;
    padding-top: 1px;
    .gradient(#414141, #525252, #414141);
    color: #fff;
    font-size: 17px;
    text-indent: none !important;
    vertical-align: middle;

    &:hover {
      .gradient(#414141, #5b5b5b, #414141);
    }
  }
}

.flogin_center {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -110px 0 0 -150px;
}

.flogin__form_type {
  position: relative;
  padding: 20px;

  .field {
    margin-bottom: 0;
  }

  input[type=password] {
    border-top: none;
  }

  .button {
    top: 20px;
    right: -25px;
    margin: 0;
  }

  input[type=submit] {
    width: 89px;
    height: 89px;
  }
}