{% extends "base.html" %}

{% block page %}
<br>
<br>
<br>
<br>
  <div class="flogin flogin_center">
    <div class="flogin__head">
      Log in
      <i class="icon"></i>
    </div>
    <div class="flogin__form flogin__form_type">
      <form action="#?">
        <div class="field">
          <input type="text" placeholder="Email">
        </div>
        <div class="field">
          <input type="password" placeholder="Password">
        </div>
        <div class="button">
          <input type="submit" value="Go">
        </div>
        <ul class="errorlist">
          <li>Тра татата тра татата</li>
        </ul>
      </form>
    </div>
  </div>
{% endblock %}