{% extends "base.html" %}

{% block page %}
<br>
<br>
<br>
<br>
  <div class="flogin flogin_center">
    <div class="flogin__head">
      Log in
      <i class="icon"></i>
    </div>
    <div class="flogin__form">
      <form action="#?">
        <div class="field">
          <input type="text" placeholder="Email">
        </div>
        <div class="field">
          <input type="password" placeholder="Password">
        </div>
        <ul class="errorlist">
          <li>Тра татата тра татата</li>
        </ul>

        <a href="#?" class="recovery">Recover password</a>
        <div class="button field">
          <input type="submit" value="Go" class="btn">
        </div>
        <span class="clear"></span>
      </form>
    </div>
  </div>
{% endblock %}