{% extends "base.html" %}

{% block page %}
<br>
<br>
<br>
<br>
  <div class="freg small-field">
    <form action="#?">
      <div class="field field-login">
        <input type="text" placeholder="Company name">
      </div>
      <div class="field field-domain success">
        <i class="ok"></i>
        <input type="text" placeholder="URL">
        <span class="domain">.singlepointhq.com</span>
      </div>
      <span class="line"></span>
      <div class="field ">
        <input type="text" placeholder="Full name">
      </div>
      <div class="fields-column left">
        <div class="field ">
          <input type="text" placeholder="Login">
        </div>
        <div class="field">
          <input type="text" placeholder="Email">
        </div>
      </div>
      <div class="fields-column right">
        <div class="field ">
          <input type="password" placeholder="Password">
        </div>
        <div class="field">
          <input type="password" placeholder="Password 2">
        </div>
      </div>
      <span class="line"></span>
      <div class="field">
        <input type="submit" value="Send" class="btn">
      </div>
    </form>
  </div>
{% endblock %}