/* glue: 0.2.9 hash: 6eecf558a3 */
.sprite-user,
.sprite-ok {
background: url(../images/sprite.png) no-repeat;
  display: inline-block;
}

.sprite-user {
  background-position: -2px -2px;
  width: 19px;
  height: 18px;
}
.sprite-user-p() {
  background-position: -2px -2px;
}
.sprite-user-resize() {
  background-position: -2px -2px;
  width: 19px;
  height: 18px;
}

.sprite-ok {
  background-position: -25px -2px;
  width: 18px;
  height: 18px;
}
.sprite-ok-p() {
  background-position: -25px -2px;
}
.sprite-ok-resize() {
  background-position: -25px -2px;
  width: 18px;
  height: 18px;
}

