/* glue: 0.2.9 hash: 6f97a036dd */
.sprite-user {
background: url(../images/sprite.png) no-repeat;
  display: inline-block;
}

.sprite-user {
  background-position: -2px -2px;
  width: 19px;
  height: 18px;
}
.sprite-user-p() {
  background-position: -2px -2px;
}
.sprite-user-resize() {
  background-position: -2px -2px;
  width: 19px;
  height: 18px;
}

