/* glue: 0.2.9 hash: 59790ae5d0 */
.sprite-edit,
.sprite-user,
.sprite-remove,
.sprite-ok,
.sprite-clock {
background: url(../images/sprite.png) no-repeat;
  display: inline-block;
}

.sprite-edit {
  background-position: -2px -2px;
  width: 24px;
  height: 21px;
}
.sprite-edit-p() {
  background-position: -2px -2px;
}
.sprite-edit-resize() {
  background-position: -2px -2px;
  width: 24px;
  height: 21px;
}

.sprite-user {
  background-position: -30px -2px;
  width: 19px;
  height: 18px;
}
.sprite-user-p() {
  background-position: -30px -2px;
}
.sprite-user-resize() {
  background-position: -30px -2px;
  width: 19px;
  height: 18px;
}

.sprite-remove {
  background-position: -2px -27px;
  width: 18px;
  height: 18px;
}
.sprite-remove-p() {
  background-position: -2px -27px;
}
.sprite-remove-resize() {
  background-position: -2px -27px;
  width: 18px;
  height: 18px;
}

.sprite-ok {
  background-position: -24px -27px;
  width: 18px;
  height: 18px;
}
.sprite-ok-p() {
  background-position: -24px -27px;
}
.sprite-ok-resize() {
  background-position: -24px -27px;
  width: 18px;
  height: 18px;
}

.sprite-clock {
  background-position: -53px -2px;
  width: 18px;
  height: 18px;
}
.sprite-clock-p() {
  background-position: -53px -2px;
}
.sprite-clock-resize() {
  background-position: -53px -2px;
  width: 18px;
  height: 18px;
}

